:root {
  --very-dark: #7e2e84;
  --quite-dark: #d14081;
  --middle: #98c1d9;
  --quite-light: #d2ab99;
  --very-light: #f9f5e3;
}

.App {
  text-align: center;
  background-color: var(--very-light);
}

.App-header {
  background-color: var(--quite-dark);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--very-light);
}

Nav {
  position: sticky;
  top: 0;
  background-color: var(--middle);
  padding: 1vh;
  overflow-y: visible;
  border-color: var(--very-dark);
  border: 2px solid;
}

.Homepage {
  border: 2px solid;
  border-color: var(--very-dark);
}

.ArticleList {
  display: grid;
  grid-template-columns: minmax(10px, auto) minmax(300px, 500px) minmax(
      10px,
      auto
    );
  border: 2px solid;
  border-color: var(--very-dark);
}

.ArticlesHeading {
  grid-column: 2/3;
}

ul {
  list-style: none;
  grid-column: 2/3;
  padding-left: 0;
}

li {
  background-color: var(--middle);
  border: 2px solid;
  border-color: var(--very-dark);
  margin: 10px;
}

.ArticleContainer {
  display: grid;
  grid-template-columns: minmax(10px, auto) minmax(300px, 500px) minmax(
      10px,
      auto
    );
  border: 2px solid;
  border-color: var(--very-dark);
}

.SingleArticle {
  grid-column: 2/3;
  background-color: var(--middle);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid;
  border-color: var(--very-dark);
}

.ArticleBody {
  text-align: left;
  padding: 10px;
}

.ToggleComments {
  grid-column: 2/3;
}

.CommentsContainer {
  display: grid;
  grid-template-columns: minmax(10px, auto) minmax(300px, 500px) minmax(
      10px,
      auto
    );
  border: 2px solid;
  border-color: var(--very-dark);
  margin-top: 10px;
}

.SingleComment {
  background-color: var(--middle);
  margin: 10px;
}

.CommentBody {
  text-align: left;
}

.sortbar {
  padding: 10px;
  background-color: var(--middle);
}

button {
  margin: 1px;
}
