:root {
  --very-dark: #7e2e84;
  --quite-dark: #d14081;
  --middle: #98c1d9;
  --quite-light: #d2ab99;
  --very-light: #f9f5e3;
}

.App {
  text-align: center;
  background-color: var(--very-light);
}

.App-header {
  background-color: var(--quite-dark);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--very-light);
}

Nav {
  position: sticky;
  top: 0;
  background-color: var(--middle);
  padding: 1vh;
  overflow-y: visible;
  border-color: var(--very-dark);
  border: 2px solid;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: var(--middle);
}

.ArticleBody {
  text-align: left;
}

.CommentBody {
  text-align: left;
}

.sortbar {
  padding: 10px;
  background-color: var(--middle);
}

button {
  margin: 1px;
}
