:root {
  --very-dark: #7e2e84;
  --quite-dark: #d14081;
  --middle: #98c1d9;
  --quite-light: #d2ab99;
  --very-light: #f9f5e3;
}

.App {
  text-align: center;
  background-color: var(--very-light);
}

.App-header {
  background-color: var(--quite-dark);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
